In [2]:
import pandas as pd

In [3]:
arquivo = '../2_dados/database.csv'

### Todas as Colunas, poucas linhas

In [3]:
df = pd.read_csv(arquivo, nrows=10)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,799993,799994,799995,799996,799997,799998,799999,signal_id,phase,target
0,18,18,17,18,18,18,19,18,18,17,...,17,18,19,19,17,19,17,0,0,0
1,1,0,-1,1,0,0,1,0,0,0,...,0,0,2,1,0,1,0,1,1,0
2,-19,-19,-20,-19,-19,-20,-18,-19,-20,-19,...,-18,-19,-18,-19,-19,-18,-19,2,2,0
3,-16,-17,-17,-16,-16,-15,-16,-17,-18,-17,...,-15,-15,-15,-15,-15,-14,-14,3,0,1
4,-5,-6,-6,-5,-5,-4,-5,-7,-7,-7,...,-5,-4,-4,-4,-4,-3,-4,4,1,1

### Todas as linhas das ultimas três colunas

In [4]:
df2 = pd.read_csv(arquivo, usecols=['signal_id', 'phase', 'target'])

In [5]:
df2.head(9)

   signal_id  phase  target
0          0      0       0
1          1      1       0
2          2      2       0
3          3      0       1
4          4      1       1
5          5      2       1
6          6      0       0
7          7      1       0
8          8      2       0

In [6]:
print('Qtd de linhas:', df2.shape[0])

Qtd de linhas: 501

In [7]:
print('Qtd. de valores nulos nas colunas:')
df2.isna().sum()

Qtd. de valores nulos nas colunas:

signal_id    0
phase        0
target       0
dtype: int64

#### Signal_id

In [8]:
print('Qtd. de ids únicos:', len(df2['signal_id'].unique()))

Qtd. de ids únicos: 501

In [9]:
print('Está ordenado:', df2['signal_id'].is_monotonic_increasing)

Está ordenado: True

#### Phase

In [38]:
print('Valores de "phase":', df2['phase'].unique())

Valores de "phase": [0 1 2]

In [64]:
print('Frequência Absoluta:')
print(pd.DataFrame(df2['phase'].value_counts()))

Frequência Absoluta:
   phase
2    167
1    167
0    167

#### Target

In [56]:
print('Valores de "target":', df2['target'].unique(), '\n')

Valores de "target": [0 1]

In [18]:
freq_abs = df2['target'].value_counts()
freq_rel = df2['target'].value_counts(normalize=True).round(2)

print('Freqência de "target":')
print(pd.DataFrame(data={'Absoluta': freq_abs, 'Relativa': freq_rel}))

Freqência de "target":
   Absoluta  Relativa
0       466      0.93
1        35      0.07

Como a quantidade de classes do tipo "descarga parcial" (qtd=35) não é multiplo de três, a falha de uma fase pode não afetar outra fase do mesmo conjunto.

#### Phase & Target

In [20]:
df2[['phase','target']].groupby(['phase','target']).size()

phase  target
0      0         156
       1          11
1      0         156
       1          11
2      0         154
       1          13
dtype: int64